*,* ::after,* ::before {box-sizing: border-box;}


* {
    padding: 0%;
    margin: 0%;
}

html {
    font-size: 15px;
    font-family: 'Saira Condensed', sans-serif;
}

h1 {font-size: 2rem;}
h2 {font-size: 1.7rem;}
h3 {font-size: 1.4rem;}

body {
    color: rgb(0, 0, 0);
    background-image: url(../imagens/7650af917e1515c0a3a772ed3e2ac415.jpg);
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header h1{
    text-transform: uppercase;
    color: white;
    background-color: black;
    text-align: center;
    border-radius: 0 0 10px 10px;
   
}

header .limitador {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 10vh;

}

.limitador {
    max-width: 250px;
    margin: auto;
    width: 95%;
}

.Blimitador {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px 0px;
}


main {
    color: white;
    flex: 1;
}

.Anome {
    padding: 10px 5px 10px 10px;
    border-radius: 0 5px 5px 0;

    display: inline-block;
    background-color: rgba(0, 0, 0, 0.644);
}

#fundo { 
    background-image: url(../imagens/87d9186a228efb9dbfd56afc12157117.gif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
    height: 50%;

}

.formatexto { 
    background-color: rgba(0, 0, 0, 0.500);
    padding-left: 10px;

}

article a {
    text-decoration: none;
    color: white;
}

article #fundo h3 p {
    margin: 0%;
    padding: 0%;
}

#Aresumo {
    display: inline-block;
    padding-top: 10px;
    min-height: auto;
}

#Aresumo {
    display: flex;
    justify-content: space-around;
    max-height: auto;
   
}

.resumo {
    display:inline-block ;
    vertical-align: top;
    max-width:22%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.650);
    border-radius: 5px;
}

#figuras h3{
    padding: 0 5px;
}

#figuras img {
    max-width: 75px;
    max-height: 75px;
    padding: 5px;
}

.futura {
    display: inline-block;
}

section {
    background-color: rgba(0, 0, 0, 0.650);
}






ul li {
    list-style: none;
    display: inline;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    align-items: center;
}


/* mediaquery */

@media screen and (min-width:600px) {

    html {font-size: 18px;}

}

@media screen and (min-width:1000px) {

    html {font-size: 20px;}
    
}